src/flows/GenerateSignature.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_ResourceId</name>
        <label>Assign ResourceId</label>
        <locationX>409</locationX>
        <locationY>228</locationY>
        <assignmentItems>
            <assignToReference>serviceResourceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>selectWorkTypeGroup</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Service_Resource_Id_Assignment</name>
        <label>Service Resource Id Assignment</label>
        <locationX>414</locationX>
        <locationY>438</locationY>
        <assignmentItems>
            <assignToReference>serviceResourceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Resource.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>selectWorkTypeGroup</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkResourceId</name>
        <label>checkResourceId</label>
        <locationX>168</locationX>
        <locationY>229</locationY>
        <defaultConnector>
            <targetReference>Assign_ResourceId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_If_Record_Id_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Service_Resource</targetReference>
            </connector>
            <label>Check If Record Id is null</label>
        </rules>
    </decisions>
    <formulas>
        <name>signatureURL</name>
        <dataType>String</dataType>
        <expression>{!communityURL}+&apos;workTypeGroupId=&apos;+{!workTypeGroupId}+&apos;&amp;serviceResourceId=&apos;+{!serviceResourceId}+&apos;&amp;serviceTerritotyId=&apos;+{!territoryId}</expression>
    </formulas>
    <interviewLabel>Generate Signature {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate Signature</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Appointments</processType>
    <recordLookups>
        <description>This will query on logged in users Service Resource record.</description>
        <name>Get_Service_Resource</name>
        <label>Get Service Resource</label>
        <locationX>177</locationX>
        <locationY>438</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Service_Resource_Id_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Generated_URL</name>
        <label>Generated URL</label>
        <locationX>884</locationX>
        <locationY>331</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>labelMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Use below URL to configure in your signature.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>url</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;{!signatureURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!signatureURL}&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Appointment_Territory</name>
        <label>Select Appointment Territory</label>
        <locationX>741</locationX>
        <locationY>331</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Generated_URL</targetReference>
        </connector>
        <fields>
            <name>selectTerritory</name>
            <extensionName>runtime_appointmentbooking:flowLocation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>workTypeGroupId</name>
                <value>
                    <elementReference>workTypeGroupId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceResourceId</name>
                <value>
                    <elementReference>serviceResourceId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterByResources</name>
                <value>
                    <elementReference>serviceResourceId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>territoryId</assignToReference>
                <name>serviceTerritoryId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>selectWorkTypeGroup</name>
        <label>selectWorkTypeGroup</label>
        <locationX>580</locationX>
        <locationY>331</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_Appointment_Territory</targetReference>
        </connector>
        <fields>
            <name>selectWTG</name>
            <extensionName>runtime_appointmentbooking:flowWorkType</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>serviceResourceId</name>
                <value>
                    <elementReference>serviceResourceId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>workTypeGroupId</assignToReference>
                <name>workTypeGroupId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>checkResourceId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>appointmentType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>communityURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>https://YOUR_COMMUNITY_DOMAIN/s/flow/SignatureFlow?</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceResourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>territoryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>workTypeGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
